@import "modules/mq";
@import "modules/bg";

@font-face {
    font-family: "Technique";
    src: url("../fonts/Technique.woff2") format("woff2"),
        /* Modern browsers */
        url("../fonts/Technique.woff") format("woff");
    /* Android, iOS */
    font-style: normal;
    font-weight: 400;
}

:root {
    --mainColor: #191919;
    --gradient-start: #121317;
    --gradient-end: #323B42;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    @include bg();
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    background-color: #232323;
    color: #f8f8f8;
    font-family: "Technique";
    font-weight: normal;
    line-height: 1.2;
    padding: 50px;
    height: 100vh;
}

.content {
    height: calc(100vh - 100px);

    a {
        color: #f8f8f8;
        text-decoration: none;
        border-bottom: 2px solid;
    }
}