@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope-regular.woff2") format("woff2"),
        /* Modern browsers */
        url("../fonts/manrope-regular.woff") format("woff"),
        /* Legacy browsers */
        url("../fonts/manrope-regular.otf") format("truetype");
    /* Android, iOS */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope-extrabold.woff2") format("woff2"),
        /* Modern browsers */
        url("../fonts/manrope-extrabold.woff") format("woff"),
        /* Legacy browsers */
        url("../fonts/manrope-extrabold.otf") format("truetype");
    /* Android, iOS */
    font-style: normal;
    font-weight: 800;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5dc;
    color: #00f;
    font-family: "Manrope", sans-serif;
    display: flex;
    height: 100vh;
    align-items: flex-end;

    a {
        color: #00f;
    }
}

#preloader {
    background-color: #00f;
    position: fixed;
    width: 100%;
    height: 100%;

    &.loaded {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }
}

main {
    &.main__body {
        max-width: 50vw;
        padding: 0 0 0 7.5vw;

        .intro {
            padding: 7.5vw 0;

            h1 {
                font-weight: 800;
                font-size: 2.25rem;
                margin: 0 0 2.5vw;
            }

            p {
                letter-spacing: 1px;
            }

            .connect {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 2.5vw 0 0;

                .buttons {
                    a {
                        display: inline-block;
                        border: 1px solid;
                        padding: 5px 15px;
                        border-radius: 3px;
                        text-decoration: none;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }

                .social__media {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        margin-left: 15px;

                        img {
                            display: block;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}