@import "modules/angled-edges";

@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope-regular.woff2") format("woff2"),
        /* Modern browsers */
        url("../fonts/manrope-regular.woff") format("woff"),
        /* Legacy browsers */
        url("../fonts/manrope-regular.otf") format("truetype");
    /* Android, iOS */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope-extrabold.woff2") format("woff2"),
        /* Modern browsers */
        url("../fonts/manrope-extrabold.woff") format("woff"),
        /* Legacy browsers */
        url("../fonts/manrope-extrabold.otf") format("truetype");
    /* Android, iOS */
    font-style: normal;
    font-weight: 800;
}

:root {
    --mainColor: #191919;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--mainColor);
    color: #fff;
    font-family: "Manrope", sans-serif;
    height: 100vh;
    line-height: 2rem;

    a {
        color: var(--mainColor);
    }
}

#preloader {
    background-color: var(--mainColor);
    position: fixed;
    width: 100%;
    height: 100%;

    &.loaded {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

main {
    &.main__body {
        background-color: #fff;
        color: var(--mainColor);
        padding: 7.5vw;
        @include angled-edge(4, bottom, left, var(--mainColor), right);

        header {
            opacity: 0;
            animation: fadeIn 0.5s ease-in both;
        }

        header,
        .intro {
            max-width: 50vw;
        }

        .intro {
            h1 {
                font-weight: 800;
                font-size: 1.5rem;
                margin: 0 0 2.5vw;
                opacity: 0;
                animation: fadeIn 0.5s ease-in both;
                animation-delay: 0.5s;
            }

            p {
                letter-spacing: 1px;
                opacity: 0;
                animation: fadeIn 0.5s ease-in both;
                animation-delay: 1s;
            }

            .connect {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 2.5vw 0 0;
                opacity: 0;
                animation: fadeIn 0.5s ease-in both;
                animation-delay: 1.5s;

                .buttons {
                    a {
                        display: inline-block;
                        border: 1px solid;
                        padding: 5px 15px;
                        border-radius: 3px;
                        text-decoration: none;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }

                .social__media {
                    display: flex;
                    align-items: center;

                    a {
                        display: block;
                        margin-left: 15px;

                        img {
                            display: block;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}