@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Syncopate:wght@400;700&display=swap');

body,
html {
    font-family: var(--primaryFont);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* Smoothing */
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: var(--accentFont);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -1px;
    line-height: 1.5;
}

code {
    background-color: #000;
    padding: 0.25rem;
    border-radius: 3px;
    font-size: 1rem;
}

// Cursor reset...
a,
button,
input,
label {
    * {
        pointer-events: none;
    }
}

.loading_screen {
    cursor: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &-heading {
        overflow: hidden;
        height: 85px;

        h1 {
            transform: translateY(85px);
            opacity: 0;
            svg {
                margin:0 1.5rem 0 0;
            }
        }
    }
}