:root {
    --primaryFont:'Outfit',sans-serif;
    --accentFont:'Syncopate', sans-serif;
}
// Dark Mode
[data-color-scheme="dark"] {
    --background-color: #222;
    --defaultColor: #f8f8f8;

    // Default Button
    --buttonColor: #fff;
    --buttonBorder: #fff;
    --buttonHoverColor: #333;

    // Header
    --headerBackgroundColor:#333;
    --headerTextColor:#fff;
    --header-box-shadow:#000;

    // Check Theme Popup
    --checkThemeBackground: #444;

    // Form Styles
    --inputBackground: #444;
    --inputColor: #fff;

    // Custom Cursor
    --custom-cursor-border-color:#fff;
    --custom-cursor-background-color: #fff;
    --custom-cursor-mix-blend-mode: difference;
}

// Light Mode
[data-color-scheme="light"] {
    --background-color: #fff;
    --defaultColor: #333;

    // Default Button
    --buttonColor: #666;
    --buttonBorder: #666;
    --buttonHoverColor: #fff;

    // Header
    --headerBackgroundColor:#f8f8f8;
    --headerTextColor:#444;
    --header-box-shadow:#f8f8f8;

    // Check Theme Popup
    --checkThemeBackground: #ececec;

    // Form Styles
    --inputBackground: #ececec;
    --inputColor: #444;

    // Custom Cursor
    --custom-cursor-border-color:#444;
    --custom-cursor-background-color: #444;
    --custom-cursor-mix-blend-mode: multiply;    
}